
@{
    ViewBag.Title = "KichHoat";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h5 style="padding-top:20px; padding-bottom:40px;">
    Vui bạn đăng ký thành công tài khoản trên Ipro. Vui lòng kiểm tra email, kích hoạt tài khoản và đăng nhập lại để sử dụng.
    <br />
</h5>

